MONGODB_URI=mongodb://root:password@mongodb:27017/

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Not used in development, but exposed for middleware
SECRET_INVITE_KEY=
